AI Receptionist.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a professional receptionist for a creative agency. Your role is to help clients and visitors by:\n- Answering questions about the agency's services, pricing, portfolio, and team using the Knowledge Base Search tool\n- Scheduling meetings and appointments via Google Calendar\n- Sending emails on behalf of the agency via Gmail\n- Providing information about availability\n- Being friendly, professional, and helpful at all times\n\nWhen asked about the agency, always search the knowledge base first. Before scheduling any meeting, ALWAYS use the Check Calendar Availability tool to verify the requested time slot is free. If there are conflicts, suggest alternative times based on the availability check results. When scheduling meetings, check the calendar for availability. Ask for the client's email before sending the email ,When sending emails, be professional and concise. When booking meetings, always save the meeting details (date, time, duration, topic , Name ) to Google Sheets using the Google Sheets Tool."
        }
      },
      "id": "d4904dca-75a9-4124-b90f-905dbfee151e",
      "name": "Receptionist Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        752
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat }}"
      },
      "id": "993b8874-fab7-4e6b-885c-0d323561ad03",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        976
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('to', 'Email recipient address', 'string') }}",
        "subject": "={{ $fromAI('subject', 'Email subject line', 'string') }}",
        "message": "={{ $fromAI('message_html', 'Email message content', 'string') }}",
        "options": {}
      },
      "id": "6131b525-9341-450b-ab5b-333ad02c5c57",
      "name": "Gmail Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        320,
        976
      ],
      "webhookId": "6122cad5-c63a-4ddb-8585-5ddbcb7d4c84",
      "credentials": {
        "gmailOAuth2": {
          "id": "3v9MWvJywsi5GaJI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "toutouwahab16@gmail.com",
          "mode": "list",
          "cachedResultName": "toutouwahab16@gmail.com"
        },
        "start": "={{ $fromAI('start_datetime', 'Meeting start date and time in ISO format like 2025-01-20T14:00:00', 'string') }}",
        "end": "={{ $fromAI('end_datetime', 'Meeting end date and time in ISO format like 2025-01-20T15:00:00', 'string') }}",
        "additionalFields": {
          "description": "={{ $fromAI('meeting_description', 'Meeting description or notes', 'string', '') }}",
          "summary": "={{ $fromAI('meeting_title', 'Meeting title or subject', 'string') }}"
        }
      },
      "id": "f90f2c17-a536-4ee5-bdd5-1b3001bd870d",
      "name": "Google Calendar Tool",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        448,
        976
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "K54lAOKNHNKjajR4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "67880d69-e14f-4a4a-b8c1-668ea325a739",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        1600
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "id": "285dad36-9b17-459a-843e-4981df161f8a",
      "name": "Vector Store - Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        448,
        1600
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the agency knowledge base for information about services, pricing, portfolio, team, and company information",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "id": "5199fc55-bc3b-4a04-96d2-53af2a1c5835",
      "name": "Vector Store - Retrieve",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        576,
        976
      ]
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "5feddd52-d177-4888-9ffd-0aa8733b9f62",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        1824
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6c577245-5961-4c7a-8fe6-6c452cb26e40",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        624,
        2032
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        960
      ],
      "id": "f4eeed85-c218-4e78-96d2-52fe035a47e7",
      "name": "Telegram Trigger",
      "webhookId": "59cd24f2-883c-47b5-9419-ba72bc1af96a",
      "credentials": {
        "telegramApi": {
          "id": "cytIKK28bNndmdSG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        960
      ],
      "id": "967d1b11-d2c8-417e-bf93-7a61d0c3ed7f",
      "name": "Send a text message",
      "webhookId": "87fb89d2-c055-4b97-8de2-5ffcdb44d766",
      "credentials": {
        "telegramApi": {
          "id": "cytIKK28bNndmdSG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1ksCm-HNKqZX--p66jrbMVaDi4kPBP6LZqMz51Cg33Wo"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ksCm-HNKqZX--p66jrbMVaDi4kPBP6LZqMz51Cg33Wo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $fromAI('meeting_date', 'Meeting date in format YYYY-MM-DD', 'string') }}",
            "Time": "={{ $fromAI('meeting_time', 'Meeting time in format HH:MM', 'string') }}",
            "Duration": "={{ $fromAI('meeting_duration', 'Meeting duration like 1 hour or 30 minutes', 'string') }}",
            "Topic": "={{ $fromAI('meeting_topic', 'Meeting topic or subject', 'string') }}",
            "Name": "={{ $fromAI('Name', 'Name or Id', 'string') }}",
            "Email": "={{ $fromAI('Email') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "68895e68-d82e-40c9-b18a-3c072c4e587f",
      "name": "Google Sheets Tool",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        864,
        976
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ayl939ZhmAg6kK8b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        976
      ],
      "id": "d9d9cfe5-6d56-47ca-be51-10b4b4f91ff2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UFb9bhqYXxdeFCvH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        1824
      ],
      "id": "b3d6cc1c-680b-402e-a2f1-eb121a7c5729",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "UFb9bhqYXxdeFCvH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        1184
      ],
      "id": "b6e71547-3452-40d5-a2d5-cff5c9324a26",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "UFb9bhqYXxdeFCvH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=What are all services offered by Braver Law Firm? everything important i need you to extract it and save it like pricing and hours and all  ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        1600
      ],
      "id": "30003737-478e-46c7-98f9-f1b2a6a187fe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        1824
      ],
      "id": "70b6993f-c213-44d6-ace3-8a1f8313c6e4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "UFb9bhqYXxdeFCvH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the response data, extract all the data possible to use it in the description of the agency, about their services and pricing, check everything on their website and use it ",
        "url": "https://raw.githubusercontent.com/999WAHAB/IA-Agency/main/README.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        208,
        1824
      ],
      "id": "08b23242-0fbf-4745-a91a-20991b836901",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        320
      ],
      "id": "e596f155-8614-4453-a9fe-936ab3c3f8bf",
      "name": "WhatsApp Trigger",
      "webhookId": "fc638759-144c-4a20-a64d-d1cdf10abf73",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "TU1YPPHQjGV8Ja3y",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1200,
        320
      ],
      "id": "b7e86ac7-8fe6-43cb-9f96-a3a3be8f6e9a",
      "name": "Send message",
      "webhookId": "8e9f8fdd-39dd-433a-9da1-edbb86668b0f",
      "credentials": {
        "whatsAppApi": {
          "id": "NuVEtQQGCz1BVj87",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are a professional receptionist for a creative agency. Your role is to help clients and visitors by:\n- Answering questions about the agency's services, pricing, portfolio, and team using the Knowledge Base Search tool\n- Scheduling meetings and appointments via Google Calendar\n- Sending emails on behalf of the agency via Gmail\n- Providing information about availability\n- Being friendly, professional, and helpful at all times\n\nWhen asked about the agency, always search the knowledge base first. Before scheduling any meeting, ALWAYS use the Check Calendar Availability tool to verify the requested time slot is free. If there are conflicts, suggest alternative times based on the availability check results. When scheduling meetings, check the calendar for availability. When sending emails, be professional and concise. When booking meetings, always save the meeting details (date, time, duration, topic , Name ) to Google Sheets using the Google Sheets Tool."
        }
      },
      "id": "5ca079a0-213f-49c4-b7d1-5918a5e4b154",
      "name": "Receptionist Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        112
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].id }}"
      },
      "id": "077afc03-cdd7-4a5e-973d-c6295e8625bc",
      "name": "Conversation Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        336
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('to', 'Email recipient address', 'string') }}",
        "subject": "={{ $fromAI('subject', 'Email subject line', 'string') }}",
        "message": "={{ $fromAI('message_html', 'Email message content', 'string') }}",
        "options": {}
      },
      "id": "ab018e11-89b1-4e0a-9e94-df22a99f8bee",
      "name": "Gmail Tool1",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        320,
        336
      ],
      "webhookId": "6122cad5-c63a-4ddb-8585-5ddbcb7d4c84",
      "credentials": {
        "gmailOAuth2": {
          "id": "3v9MWvJywsi5GaJI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "toutouwahab16@gmail.com",
          "mode": "list",
          "cachedResultName": "toutouwahab16@gmail.com"
        },
        "start": "={{ $fromAI('start_datetime', 'Meeting start date and time in ISO format like 2025-01-20T14:00:00', 'string') }}",
        "end": "={{ $fromAI('end_datetime', 'Meeting end date and time in ISO format like 2025-01-20T15:00:00', 'string') }}",
        "additionalFields": {
          "description": "={{ $fromAI('meeting_description', 'Meeting description or notes', 'string', '') }}",
          "summary": "={{ $fromAI('meeting_title', 'Meeting title or subject', 'string') }}"
        }
      },
      "id": "a12f4ec4-5333-4021-b3dc-5f8057661309",
      "name": "Google Calendar Tool1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        448,
        336
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "K54lAOKNHNKjajR4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the agency knowledge base for information about services, pricing, portfolio, team, and company information",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "id": "fa8ae4c4-350e-4dde-b5f8-2b4db4869577",
      "name": "Vector Store - Retrieve1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        576,
        336
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1ksCm-HNKqZX--p66jrbMVaDi4kPBP6LZqMz51Cg33Wo"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ksCm-HNKqZX--p66jrbMVaDi4kPBP6LZqMz51Cg33Wo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $fromAI('meeting_date', 'Meeting date in format YYYY-MM-DD', 'string') }}",
            "Time": "={{ $fromAI('meeting_time', 'Meeting time in format HH:MM', 'string') }}",
            "Duration": "={{ $fromAI('meeting_duration', 'Meeting duration like 1 hour or 30 minutes', 'string') }}",
            "Topic": "={{ $fromAI('meeting_topic', 'Meeting topic or subject', 'string') }}",
            "Name": "={{ $fromAI('Name', 'Name or Id', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6767b6d5-db2e-4e1f-ba88-b5606190b41f",
      "name": "Google Sheets Tool1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        864,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ayl939ZhmAg6kK8b",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        336
      ],
      "id": "8b220685-352b-4023-b7f9-41c45bc5059f",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "UFb9bhqYXxdeFCvH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        544
      ],
      "id": "3989be6e-3721-4faf-95c7-2316143e5a43",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "UFb9bhqYXxdeFCvH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "This section is for WhatsApp ",
        "height": 688,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "018852ad-511f-4c7b-8b24-fd27c38424b7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "This section if for telegram",
        "height": 688,
        "width": 1184,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        640
      ],
      "id": "2b6144e6-f08e-4bbc-b4af-a4df5935fc4e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Http Request to get all the informations about the Agency or the Commerce.",
        "height": 608,
        "width": 1488,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        1568
      ],
      "id": "b3e3c259-ba38-4ecd-aff4-cde4a2fae3e1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Check calendar availability for specific dates and times to avoid scheduling conflicts",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "toutouwahab16@gmail.com"
        },
        "timeMin": "={{ $fromAI('check_start_date', 'Start date/time to check availability in ISO format', 'string') }}",
        "timeMax": "={{ $fromAI('check_end_date', 'End date/time to check availability in ISO format', 'string') }}",
        "options": {}
      },
      "id": "ddd29c8d-50df-4a43-8c1b-d4c1eaab4b5b",
      "name": "Check Calendar Availability - Telegram",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        992,
        976
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "K54lAOKNHNKjajR4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Check calendar availability for specific dates and times to avoid scheduling conflicts",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "toutouwahab16@gmail.com"
        },
        "timeMin": "={{ $fromAI('check_start_date', 'Start date/time to check availability in ISO format', 'string') }}",
        "timeMax": "={{ $fromAI('check_end_date', 'End date/time to check availability in ISO format', 'string') }}",
        "options": {}
      },
      "id": "fbcca1df-156d-4f3a-a771-39fbbc55fc3b",
      "name": "Check Calendar Availability - WhatsApp",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        992,
        336
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "K54lAOKNHNKjajR4",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Receptionist Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Receptionist Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Tool": {
      "ai_tool": [
        [
          {
            "node": "Receptionist Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Tool": {
      "ai_tool": [
        [
          {
            "node": "Receptionist Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store - Retrieve": {
      "ai_tool": [
        [
          {
            "node": "Receptionist Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Store - Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Receptionist Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Tool": {
      "ai_tool": [
        [
          {
            "node": "Receptionist Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Receptionist Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store - Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store - Retrieve",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Vector Store - Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Receptionist Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receptionist Agent1": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory1": {
      "ai_memory": [
        [
          {
            "node": "Receptionist Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Tool1": {
      "ai_tool": [
        [
          {
            "node": "Receptionist Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Tool1": {
      "ai_tool": [
        [
          {
            "node": "Receptionist Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store - Retrieve1": {
      "ai_tool": [
        [
          {
            "node": "Receptionist Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Tool1": {
      "ai_tool": [
        [
          {
            "node": "Receptionist Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Receptionist Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store - Retrieve1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability - Telegram": {
      "ai_tool": [
        [
          {
            "node": "Receptionist Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability - WhatsApp": {
      "ai_tool": [
        [
          {
            "node": "Receptionist Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45672ef8714966daa5bab2f9c144e11992cbcd83dc0f505af5c5ce7f5684e405"
  }
}
